extends ../layout

block content
  p
    strong
        | Your order <em>#{order.id}</em> has been processed!
  p
    | The <strong>#{order.selection.name}</strong> will be sent to <strong>#{order.details.recipient.firstName} #{order.details.recipient.lastName}</strong> with the following note:
  blockquote
      | #{order.details.note}
  p
    | Thanks you for using Contoso Flowers