@model ContosoFlowers.Services.Models.Order

@{
    ViewBag.Title = "Order Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "CheckOut", FormMethod.Post)) { 

    <fieldset>
        <legend>Checkout &amp; Payment</legend>

        <p>
            <strong>
                Total Price: @Model.Bouquet.Price.ToString("C")
            </strong>
        </p>

        <p>
            <label for="PaymentDetails_CreditCardNumber">
                Credit card number:
                @Html.TextBoxFor(m => m.PaymentDetails.CreditCardNumber, new { placeholder = "Any number will do" })
            </label>
        </p>

        <p>
            <label for="PaymentDetails_CreditCardHolder">
                Full name:
                @Html.TextBoxFor(m => m.PaymentDetails.CreditCardHolder, new { placeholder = "Your full name" })
            </label>
        </p>

        <div>
            @Html.Hidden("botId", Request.QueryString.Get("botId"))
            @Html.Hidden("channelId", Request.QueryString.Get("channelId"))
            @Html.Hidden("conversationId", Request.QueryString.Get("conversationId"))
            @Html.Hidden("serviceUrl", Request.QueryString.Get("serviceUrl"))
            @Html.Hidden("userId", Request.QueryString.Get("userId"))
            @Html.Hidden("orderId", Model.OrderID)
        </div>

        <p class="buttons">
            <input type="submit" value="Checkout!" />
        </p>

    </fieldset>

}