@model ContosoFlowers.Services.Models.Order

@{
    ViewBag.Title = "Order Processed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <strong>Your order <em>@Model.OrderID</em> has been processed!</strong>
</p>

<p>
    The <strong>@Model.Bouquet.Name</strong> will be sent to <strong>@Model.RecipientFirstName @Model.RecipientLastName</strong> with the following note:
</p>
<blockquote>
    @Model.Note
</blockquote>
<p>
    Thanks you for using Contoso Flowers
</p>